{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
 قائمة ممثلي الدول
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                {{ message }}
              </div>
        {% endfor %}
      <h1>
       قائمة ممثلي الدول
          <span class="pull-right">
              <a href="{% url 'ambassador_country_add' %}" class="btn btn-primary">
                  <span class="fa fa-plus">   أضف دولة جديدة </span>
              </a>
          </span>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">
           <div class="custom-scroll table-responsive">
                  <table id="countriesTable" class="table table-bordered table-hover">

                      <thead>
                      <tr>
                        <th>الدولة</th>
                        <th>الممثل الرئيسي</th>
                        <th></th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for country in countries %}
                        <tr>
                            <td><a href="{% url 'ambassador_country_detail' country.pk %}">{{ country.name }}</a></td>
                            <td>{{ country.main_representative }}</td>
                            <td><a class="btn btn-primary" href="{% url 'ambassador_country_edit' country.pk %}">تعديل</a></td>
                            <td><a class="btn btn-danger" href="{% url 'ambassador_country_delete' country.pk %}">حذف</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>

        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}

{% block js%}
<script>
   $(document).ready(function(){
        $('#countriesTable').DataTable();
    });
</script>
{% endblock %}>