{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
{{country}}
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                {{ message }}
              </div>
        {% endfor %}
      <h1>
      <a href="{% url 'ambassador_country_list' %}">قائمة الدول</a><br><br>
      {{country}}
          {% if country.flag %}
          <img src="{{country.flag.url}}" width="50"/>
          {% endif %}
          <br><br>
          الممثل الرئيسي: {{country.main_representative}}
          <span class="pull-right">
              <a href="{% url 'ambassador_country_edit' country.pk %}" class="btn btn-primary">
                  <span class="fa fa-pencil-square-o">   تعديل </span>
              </a>
               <a href="{% url 'ambassador_country_delete' country.pk %}" class="btn btn-danger">
                  <span class="fa fa-times">   حذف </span>
              </a>
          </span>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">
           <div class="custom-scroll table-responsive">
                  <table id="citiesTable" class="table table-bordered table-hover">

                      <thead>
                      <tr>
                        <th>المدينة</th>
                        <th>الممثل الرئيسي</th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for city in country.ambassadorcity_set.all %}
                        <tr>
                            <td><a href="{% url 'ambassador_city_detail' country.pk city.pk %}">{{ city.name }}</a></td>
                            <td>{{ city.city_representative }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>

        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}

{% block js%}
<script>
   $(document).ready(function(){
        $('#citiesTable').DataTable();
    });
</script>
{% endblock %}>