{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
طلبات كن سفير
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                {{ message }}
              </div>
        {% endfor %}
      <h1>
       طلبات كن سفير
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">
           <div class="custom-scroll table-responsive">
                  <table id="workshopRequestsTable" class="table table-bordered table-hover">

                      <thead>
                      <tr>
                        <th>الإسم</th>
                        <th>الحالة</th>
                        <th>تاريخ ارسال الطلب</th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for ambassador_request in ambassador_requests %}
                        <tr>
                            <td><a href="{% url 'ambassador_requests_detail' ambassador_request.pk %}">
                                {{ ambassador_request }}
                            </a></td>
                            <td>
                                {% if ambassador_request.status == "open" %}
                                    مفتوح
                                {% else %}
                                مغلق
                                {% endif %}
                            </td>
                            <td>{{ ambassador_request.created_at }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>

        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}

{% block js%}
<script>
   $(document).ready(function(){
        $('#workshopRequestsTable').DataTable();
    });
</script>
{% endblock %}>