{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
 الكتيبات
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                {{ message }}
              </div>
        {% endfor %}
      <h1>
       الكتيبات
          <span class="pull-right">
              <a href="{% url 'book_add' %}" class="btn btn-primary">
                  <span class="fa fa-plus">   أضف كتاب جديد </span>
              </a>
          </span>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">
           <div class="custom-scroll table-responsive">
                  <table id="booksTable" class="table table-bordered table-hover">

                      <thead>
                      <tr>
                        <th>العنوان</th>
                        <th>الشرح</th>
                        <th>الملف</th>
                          <th>الترتيب</th>
                          <th>دليل البيئة المعززة للتفكير ؟</th>
                          <th></th>
                          <th></th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.description }}</td>
                            <td><a href="{{ book.file.url }}">اعرض</a></td>
                            <td>{{book.order}}</td>
                            <td>{{book.main_guide}}</td>
                            <td><a class="btn btn-primary" href="{% url 'book_edit' book.pk %}">تعديل</a></td>
                            <td><a class="btn btn-danger" href="{% url 'book_delete' book.pk %}">حذف</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>

        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}

{% block js%}
<script>
   $(document).ready(function(){
        $('#booksTable').DataTable();
    });
</script>
{% endblock %}>