{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
لوحة التحكم
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>لوحة التحكم</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ tickets_count }}</h3>

              <p>عدد الاستشارات المفتوحة</p>
            </div>
            <div class="icon">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </div>
            <a href="{% url 'ticket_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{workshops_count}}</h3>

              <p>عدد الدورات</p>
            </div>
            <div class="icon">
              <i class="ion ion-easel"></i>
            </div>
            <a href="{% url 'workshop_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ users_count }}</h3>

              <p>عدد المستخدمين</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            {% if user.role == "admin" %}
              <a href="{% url 'user_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
            {% else %}
              <div class="small-box-footer"></div>
            {% endif %}
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ infographics_count }}</h3>

              <p>عدد الانفوجرافيك</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{% url 'infographic_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3>{{ workshop_requests_count }}</h3>

              <p>عدد طلبات اقامة دورة المفتوحة</p>
            </div>
            <div class="icon">
              <i class="fa fa-ticket" aria-hidden="true"></i>
            </div>
            <a href="{% url 'workshop_requests_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{ambassadors_count}}</h3>

              <p>عدد طلبات كن سفير</p>
            </div>
            <div class="icon">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <a href="{% url 'ambassador_requests_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-gray">
            <div class="inner">
              <h3>{{ workshop_evaluations_count }}</h3>

              <p>عدد التقييمات</p>
            </div>
            <div class="icon">
              <i class="fa fa-file-text" aria-hidden="true"></i>
            </div>
            <a href="{% url 'workshop_evaluations_list' %}" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>0</h3>

              <p>المسابقات</p>
            </div>
            <div class="icon">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">المزيد <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->

{% endblock %}