{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
الانفوجرافيك
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      أضف انفوجرافيك جديد
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                {{ form.as_p}}
                <button class="btn btn-primary">حفظ</button>
                <a href="{% url 'infographic_list' %}" class="btn btn-default">الغاء</a>
            </form>

        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}>

{% block js%}
<script>
   $(document).ready(function(){
        $('#id_image').attr("multiple", true)
    });
</script>
{% endblock %}>