{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
الانفوجرافيك
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                {{ message }}
              </div>
        {% endfor %}
      <h1>
       الانفوجرافيك
      <span class="pull-right">
              <a href="{% url 'infographic_add' %}" class="btn btn-primary">
                  <span class="fa fa-plus">   أضف انفوجرافيك جديد </span>
              </a>
          </span>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">
           <div class="custom-scroll table-responsive">
                  <table id="infographicsTable" class="table table-bordered table-hover">

                      <thead>
                      <tr>
                        <th>الانفوجرافيك</th>
                        <th></th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for infographic in infographics %}
                        <tr>
                            <td><a href="{{ infographic.image.url }}">
                                <img src="{{ infographic.image.url }}" style="max-width:200px">
                            </a></td>
                            <td><a href="{% url 'infographic_delete' infographic.pk %}" class="btn btn-danger">حذف</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>

        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}