{% extends "tems/main.html" %}
{% load static from staticfiles %}

{% block title %}
مستخدم جديد
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           مستخدم جديد
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
        <div class="box-body">
           <form action="" method="post">
               {% csrf_token%}
               {{form.as_p}}
               <button class="btn btn-primary">حفظ</button>
               <a href="{% url 'user_list' %}" class="btn btn-default">الغاء</a>
           </form>
        </div>
        <!-- /.box-body -->
      </div>
    </section>
{% endblock %}
